/* ============================= */
/* TURNOMASTER DASHBOARD THEMES  */
/* ============================= */

.theme-reyes {
  --bg: #1f1f1f;
  --text: #eaeaea;
  --accent: #891818;
  --accent-hover: #7b1414;
  --secondary: #3c3c3c;
  --secondary-hover: #323232;
  --success: #4caf50;
  --success-hover: #45a049;
  --warning: #ff9800;
  --warning-hover: #e68900;
  --error: #f44336;
  --error-hover: #d32f2f;
  --work-inicio: #762020;
  --work-lunch: #363636;
  --work-fin: #a90000;
  --work-full: #d70000;
  --item: #762020;
}

.theme-reyes-blue {
  --bg: #1a2238;
  --text: #eaeaea;
  --accent: #2176ff;
  --accent-hover: #185abc;
  --secondary: #283655;
  --secondary-hover: #1d2540;
  --success: #43d8c9;
  --success-hover: #36b3a3;
  --warning: #ff9800;
  --warning-hover: #e68900;
  --error: #b34700;
  --error-hover: #8c3900;
  --work-inicio: #305678;
  --work-lunch: #4f8cff;
  --work-fin: #7493ff;
  --work-full: #2176ff;
  --item: #305678;
}

.theme-ubuntu {
  --bg: #2c2c2c;
  --text: #eaeaea;
  --accent: #d75f00;
  --accent-hover: #b65a00;
  --secondary: #3c3c3c;
  --secondary-hover: #323232;
  --success: #4caf50;
  --success-hover: #45a049;
  --warning: #ff9800;
  --warning-hover: #e68900;
  --error: #f44336;
  --error-hover: #d32f2f;
  --work-inicio: #d75f00;
  --work-lunch: #363636;
  --work-fin: #9b3f17;
  --work-full: #b65a00;
  --item: #d75f00;
}

/* ============================= */
/*        UI ELEMENTS            */
/* ============================= */

.dashboard-text {
  color: var(--accent);
}

.dashboard-background { 
  background-color: var(--accent);
}

.dashboard-option {
  background-color: var(--accent);
}

.dashboard-hover {
  background-color: var(--accent-hover);
}

.dashboard-button {
  background-color: var(--accent);
}
.dashboard-button:hover {
  background-color: var(--accent-hover);
}

.dashboard-button-secondary {
  background-color: var(--secondary);
}
.dashboard-button-secondary:hover {
  background-color: var(--secondary-hover);
}

.dashboard-button-success {
  background-color: var(--success);
}
.dashboard-button-success:hover {
  background-color: var(--success-hover);
}

.dashboard-button-warning {
  background-color: var(--warning);
}
.dashboard-button-warning:hover {
  background-color: var(--warning-hover);
}

.dashboard-button-error {
  background-color: var(--error);
}

.dashboard-button-error:hover {
  background-color: var(--error-hover);
}

.dashboard-sidebar {
  background-color: var(--bg);
}

.dashboard-success{
  background-color: var(--success);
}

.dashboard-warning {
  background-color: var(--warning);
}

.dashboard-error{
  background-color: var(--error);
}

/* ============================= */
/*         VIS TIMELINE          */
/* ============================= */


.vis-item.inicio-range {
  background-color: var(--work-inicio);
  color: white !important;
}

.vis-item.lunch-range {
  background-color: var(--work-lunch);
  color: white !important;
}

.vis-item.fin-range {
  background-color: var(--work-fin);
  color: white !important;
}

.vis-item.workday-range {
  background-color: var(--work-full);
  color: white !important;
}


.vis-timeline .vis-selected.inicio-range,
.vis-timeline .vis-selected.lunch-range,
.vis-timeline .vis-selected.fin-range,
.vis-timeline .vis-selected.workday-range {
  color: black !important;
}

.vis-item.item {
  background-color: var(--item);
  color: white !important;
}

.vis-selected.item{
  color: black !important;
}
