.project-container {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 40px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.project-container h1 {
    font-size: 2rem;
    font-weight: bold;
}

.project-container p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

.project-meta p {
    font-weight: bold;
    color: #666;
}

.about_us-container {
    padding: 30px 14% 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about_us-container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.about_us-card {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: auto;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.about_us-card img {
    width: 100%;
    height: auto;
}

.about_us-card-title {
    font-size: 1.50rem;
    font-weight: bold;
    margin: 16px 0;
    color: #333;
}

.about_us-card-text {
    color: #555;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.about_us-social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.about_us-social-links a {
    margin-right: 10px;
    color: #4169E1;
    font-size: 1.2rem;
}

.about_us-social-links a:hover {
    color: #007bff;
}
