.navbar-color{
    background-color: #5c5ad6; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure the navbar is above other content */
}

.navbar-text {
    color: white;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.navbar-text:hover {
    color: rgb(8, 7, 8);
}

.navbar .nav-link.separator {
    color: white;
    pointer-events: none;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    position: relative;
    overflow: hidden;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 70px;
    width: auto;
    margin-right: 5px;
}

.navbar-brand h5 {
    margin: 0;
    line-height: 50px;
    
}

.btn-free-trial{
    background-color: #f57424;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-free-trial:hover {
    color: #000000;
}

.btn-login {
    background-color: #377ce4;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-login:hover {
    color: #000000;
}

@media (max-width: 768px) {
    .nav-btn-center {
        width: 100%;
        margin-top: 10px;
    }
}