body {
    overflow-x: hidden;
}

.intro-text {
    text-align: center;
    margin-top: 50px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.intro-text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.intro-text p {
    font-size: 1.2rem;
    color: #dcdcdc;
}

.intro-image {
    text-align: center;
    margin-top: 50px;
}

.intro-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background: #f0f0f0;
    padding: 60px 0;
    border: 1px solid #e0e0e0;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #343a40;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #6c757d;
}

.info-box {
    background-color: #ffffff;
    border: 3px solid #5c5ad6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.info-box:hover {
    transform: translateY(-10px);
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.info-item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #343a40;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    flex: 1;
    transition: background-color 0.3s ease;
}

.info-item:hover {
    background-color: #f8f9fa;
}

.info-item:last-child {
    border-right: none;
}

.info-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.info-value {
    font-size: 1.5rem;
    color: #965AA0;
    text-align: center;
}

.info-box h3 {
    font-size: 1.5rem;
    color: #343a40;
    margin-bottom: 15px;
}

.info-box ul {
    list-style-type: none;
    padding: 0;
}

.info-box ul li {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.btn-custom {
    background-color: #965AA0;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-custom:hover {
    background-color: #7D4686;
    color: #ffffff;
}

@media (max-width: 768px) {
    .info-list {
        flex-direction: column;
    }

    .info-item {
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .info-item:last-child {
        border-bottom: none;
    }
}