body {
    overflow-x: hidden;
}

.intro-text {
    text-align: center;
    margin-top: 50px;
}

.intro-text h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

.intro-text p {
    font-size: 1.2rem;
    color: #dcdcdc;
}

.intro-image {
    text-align: center;
    margin-top: 50px;
}

.intro-image img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.hero {
    background: #f0f0f0;
    padding: 60px 0;
    border: 1px solid #e0e0e0;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #343a40;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #6c757d;
}

.info-box {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.info-item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #6c757d;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    flex: 1;
}

.info-item:last-child {
    border-right: none;
}

.info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.info-value {
    text-align: center;
}

.info-box h3 {
    font-size: 1.5rem;
    color: #343a40;
    margin-bottom: 15px;
}

.info-box ul {
    list-style-type: none;
    padding: 0;
}

.info-box ul li {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.btn-custom {
    background-color: #965AA0;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.btn-custom:hover {
    background-color: #7D4686;
    color:#ffffff
}