.navbar {
    background-color: #4f72ac;
    width: 100%; 
}
.navbar-custom {
    height: 60px; 
}
.navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-text {
    font-size: 1.2rem;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.toggle-dropdown:hover{
    cursor:pointer;
    color: #d8e2ec;
}