.navbar {
    background-color: #4f72ac;
    width: 100%; 
}
.navbar-custom {
    height: 60px; 
}
.navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-text {
    font-size: 1.2rem;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle.clicked .navbar-toggler-icon {
    transform: rotate(180deg);
}

.navbar .dropdown .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M8 11l-6-6h12z'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
}
