.navbar {
    background-color: #4f72ac;
    width: 100%; 
}
.navbar-custom {
    height: 60px; 
}
.navbar .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
